* {
    background-color: black;
    color: white;
    font-family: 'Courier New', sans-serif;
}

div {
    font-size: large;
    border: white;
    border-style: inset;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}